@tailwind base;
@tailwind components;
@tailwind utilities;


/* Fontes customizadas */
body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita rolagem horizontal */
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

a:hover {
  color: #1D4ED8; /* Azul destaque */
}

/* Imagens */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Títulos */
h1, h2, h3 {
  font-weight: bold;
}

/* Responsividade */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
